/** HEADER**/
#header-nav{
	background-color: grey;
	border-width:3px;
	border-color:black;
}

#header-nav .navbar-header a{
	color:black;
	font-size:25px;
	margin:10px 15px auto;
	font-weight: 700;
}

#collapsable-nav ul li a{
	color:black;
	text-align: center;

}

#collapsable-nav ul{
	background-color:white;
	border-width: 2px;
	border-color:black;
}
#collapsable-nav ul li:hover{
	background-color:#A9A9A9;
}

#header-nav button, #header-nav button .icon-bar{
	border:2px solid black;
	background-color: grey;
}




/**STARTING CONTENT***/

#title{
	text-align: center;
	font-size:30px;
	font-weight:600;
}
#menu_details section{
		background-color: grey;
		box-sizing: border-box;
		border:15px solid white;
		vertical-align: middle;
		margin:auto;
		position:relative;
		height:300px;
}
#menu_details section h2{
	font-size:20px;
	text-align:center;
	font-weight:600;
}

/******Larget size****/
@media(min-width: 992px){
#header-nav button{
		display:none;
	}
#header-nav > div>ul{
		display:none;
	}
}

/******Medium size*******/
@media (min-width: 768px) and (max-width: 991px){
	#menu_details #sushi{
		width:100%;
		height:200px;
	}
	#header-nav button{
		display:none;
	}
	#header-nav > div>ul{
		display:none;
	}
}
/******Medium size*******/

/****small size****/
@media (max-width:767px){
.row{
		width:95%;
		margin:auto;
}
#menu_details section{
	height:auto;
}

}